:root {
  --bg-color: 09, 05, 16;
  --fg-color: 150, 105, 234;
}

html, body {
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(var(--fg-color), 0.05), rgba(var(--fg-color), 0.05)),
              linear-gradient(rgb(var(--bg-color)), rgb(var(--bg-color))); /* first bg is on top of this */
}

* {
  font-family: "IBM Plex Mono";
  color: rgb(var(--fg-color));
  font-size: 14pt;
}

canvas {
  display: block;
  margin: 15px;
  border-radius: 0.5em;
}

/* GUI */

.top-container {
  margin: 15px;
  display:grid;
  grid-template-columns: 1fr max-content;
  grid-gap:1.5em;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, max-content);
  grid-gap: 1.5em;
}

.right-grid-container {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 1.5em;
}

.offset-container {
  display:grid;
  grid-template-columns: max-content max-content max-content;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.2em;
  grid-auto-rows: max-content;
}

.offset-container *:nth-child(6) {
  grid-column: 1;
}


textarea, input {
  background-color: rgb(var(--bg-color));
  color: rgba(var(--fg-color), 0.8);
  padding: 0.2em 0.5em;
  outline: none; /* remove default highlighting */

  border: none;
  border-radius: 0.5em;
  resize: none;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

textarea {
  min-width: 5em;
  max-width: 20em;
}

textarea:focus, input:focus {
  background-color: rgb(var(--bg-color));
  color: rgba(var(--fg-color), 1);
}

textarea::-webkit-scrollbar {
  display: none;
}

/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 1.5em;
  margin-bottom: 0.2em;
  cursor: pointer;
  /*font-size: 22px;*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.numbers-container {
  display:grid;
  grid-template-columns: max-content max-content;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.2em;
}

.numbers-container label, .offset-container label{
  /* font-size: 16px; */
  color: rgba(var(--fg-color), 0.8);
  display: flex;
  align-items: center;
}

.numbers-container input, .offset-container input {
  color: rgb(var(--fg-color));
  width: 2.5em;
  height: 2.5em;
  text-align: center;
  padding: 0em 0em;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0.3em;
  left: 0;
  height: 0.8em;
  width: 0.8em;
  background-color: rgba(var(--fg-color), 0.2);
  border-radius: 0.1em;
}

/* On mouse-over */
.checkbox-container:hover input ~ .checkmark {
  background-color: rgba(var(--fg-color), 0.4);
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: rgb(var(--fg-color));
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid rgb(var(--bg-color));
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} 

.buttons-container {
  display:grid;
  grid-template-columns: max-content;
  grid-row-gap: 0.2em;
}

button {
  background-color: rgba(var(--fg-color), 0.15);
  border: none;
  border-radius: 0.5em;
  color: rgba(var(--fg-color), 1);
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  max-width: 10em;
  max-height: 3em;
}

.secondary-button {
  background-color: transparent;
  border: 2px solid rgba(var(--fg-color), 0.15);
  color: rgba(var(--fg-color), 0.8);
}

.primary-button:hover {
  background-color: rgba(var(--fg-color), 0.3);
}
.primary-button:active {
  background-color: rgba(var(--fg-color), 0.1);
}
.secondary-button:hover {
  border: 2px solid rgba(var(--fg-color), 0.3);
  color: rgb(var(--fg-color));
}
.secondary-button:active {
  border: 2px solid rgba(var(--fg-color), 0.2);
  color: rgb(var(--fg-color));
}

.toggle-button {
  width: 2.5em;
  height: 2.5em;
  padding-bottom: 1em;
  padding-left: 0em;
  padding-right: 0em;
}
.toggle-button:hover {
  background-color: rgba(var(--fg-color), 0.3);
}

::-moz-selection { /* Code for Firefox */
  color: #fff;
  background: rgba(var(--fg-color), 0.5);;
}
::selection {
  color: #fff;
  background: rgba(var(--fg-color), 0.5);;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}